*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:rgb(215, 235, 250);
    font-family:sans-serif;
    outline:none;
}

.container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.calculator{
    background-color:rgb(215, 235, 250);
    padding:15px;
    border-radius:30px;
    box-shadow:inset 5px 5px 12px royalblue,
                     5px 5px 12px rgba(0,0,0,.16);
    display:grid;
    grid-template-columns: repeat(4,68px);
}
input{
    grid-column:span 4;
    height:70px;
    width:240px;
    background-color:aliceblue;
    box-shadow: inset -5px -5px 12px royalblue,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border:none;
    border-radius:30px;
    color: rgb(70,70,70);
    font-size:50px;
    text-align:end;
    margin:auto;
    margin-top:40px;
    margin-bottom:40px;
    padding:20px;
}
button{
    height:40px;
    width:40px;
    background:rgb(215, 235, 250);
    box-shadow:-5px -5px 12px rgb(140, 162, 180),
                5px 5px 12px rgba(0,0,0,.16);
    border:none;
    border-radius:50px;
    margin:8px;
    font-size:16px;
}
.equal{
    width:260px;
    border:40px;
    background:rgb(215, 235, 250);
    box-shadow:-5px -5px 12px rgb(140, 162, 180),
                5px 5px 12px rgba(0,0,0,.16);
}
